*{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

li{
	list-style: none;
}

#header{
	background: gray;
	height: 40px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;

}

#header > li{
	display: inline-block;
	margin-left: 20px;
}

#header > li:first-child{
	margin-left: 5px;
}

#header > li:nth-child(2){
	margin-left: 900px;
}

body{
	background: lightgray;
	font-size: 89.5%; /* Base font size: 14px */
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	text-align: left;
}

.message{
	background: white;
	margin: 20px 80px; 
	height: 180px;
	border-radius: 10px;
}

.message ul li h5{
	border-bottom: 1px dotted black;
	background: gray;
	font-style: italic;
	border-radius: 10px 10px 0px 0px;
}

.message ul li input[type="textarea"]{
	height: 120px;
	width: 100%;
	border-bottom: 1px solid gray;
	margin:2px 0px;
	text-align:justify;
}

.message ul li input[type="submit"]{
	float: right;
	clear: both;
	height:25px;
	width: 150px;
	margin-right: 10px;
	background: gray;
	border: 1px solid gray;
	border-radius: 5px;
	font-style: italic;
}

.pmessage{
	background: gray;
}

.pmessage p{
	text-align:justify;
	padding: 5px 5px;
}


.pmessage h5{
	border-bottom: 1px dodgerblue black;
	background: white;
	font-style: italic;
	border-radius: 10px 10px 0px 0px;
	padding: 2px 5px;
}

.comment{
	background: #CCCC99;
	margin: 20px 80px; 
	height: 180px;
	width: 60%;
	border-radius: 10px;
	margin-left: 450px;
}

.comment > input[type="textarea"]{
	height: 80%;
	width: 100%;
	border-bottom: 1px solid #CCCC99;
	text-align:justify;
	border-radius: 10px 10px 0 0;
}

.comment > input[type="submit"]{
	float: right;
	clear: both;
	height:25px;
	width: 150px;
	margin: 5px 10px 0 0;
	background: #CCCC99;
	border: 1px solid black;
	border-radius: 5px;
	font-style: italic;
}

.pcomment{
	background: #CCCC99;
}

.pcomment p{
	text-align:justify;
	padding: 5px 5px;
}


.pcomment h5{
	border-bottom: 1px dodgerblue black;
	background: white;
	font-style: italic;
	border-radius: 10px 10px 0px 0px;
	padding: 2px 5px;
}


