*{
	margin: 0;
	padding: 0;
	border: 0;
}

p{
	font-style: italic;
	color: red;
	font-size: 0.8em;
	display: inline;
	vertical-align: top;
	width: 50px;
	margin: 10px;
}

#container{
	width: 90%;
	background: gray;
	text-align: center;
	padding: 30px;
	margin:50px 50px 50px 50px;
}

ul li {
	list-style: none;
	padding: 5px;
	align-content: left;
	height: 25px;
	width: 400px;
	display: inline-block;
	vertical-align: top;
}

form{
	display: inline-block;
	vertical-align: top;
	margin: 30px;
	background: #CCCC99;
	width:500px;
	border-radius: 10px;
	padding: 10px 0;
}

input[type="text"]{
	height: 25px;
	width: 200px;
	border-radius: 5px;
	border: 1px solid black;
	background: lightgray;
	display: inline-block;
	vertical-align: top;
	float: left;
	clear: both;
	padding: 0 3px;
}

input[type="submit"]{
	height: 25px;
	width: 130px;
	border-radius: 5px;
	font-size: 0.8em;
	font-style:italic;
	background: lightgray;
	border: 1px solid black;
	float: left;
	clear:both;
	margin-left: 70px;

}




